.App {
  text-align: left;
  margin-left: 10px;
}

.nav {
  background: green;
  width: 100%;
  display: flex;
  color: aqua;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
}